body {
  background-color: #fcfcfc;
}

.array-container {
  position: absolute;
  bottom: 0px;
  left: 12px;
}

.array-bar {
  width: 10px;
  position: relative;
  background-color: #40e0d0;
  display: inline-block;
  margin: 1px;
}

.opt-bar {
  position: relative;
  background-color: #43484a;
  overflow: hidden;
  width: 100%;
  height: 50px;
}

.opt-button {
  float: left;
  border: none;
  background-color: inherit;
  color: #d7d7d8;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0px;
  height: 100%;
}

.opt-button:hover {
  background-color: #54585a;
}

.opt-button:active {
  background-color: #237b72;
}

.sort-button {
  float: left;
  border: none;
  background-color: inherit;
  color: #bb8588;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0px;
  height: 100%;
}

.sort-button:hover {
  background-color: #54585a;
}

.sort-button:active {
  background-color: #237b72;
}
